[submodule "modules/modules/local/dorado"]
	path = modules/modules/local/dorado
	url = https://github.com/chusj-pigu/wf-modules
	branch = dorado
[submodule "modules/local/samtools"]
	path = modules/local/samtools
	url = https://github.com/chusj-pigu/wf-modules
	branch = samtools
[submodule "modules/local/seqkit"]
	path = modules/local/seqkit
	url = https://github.com/chusj-pigu/wf-modules
	branch = seqkit
[submodule "modules/local/cramino"]
	path = modules/local/cramino
	url = https://github.com/chusj-pigu/wf-modules
	branch = cramino
[submodule "modules/local/quarto"]
	path = modules/local/quarto
	url = https://github.com/chusj-pigu/wf-modules
	branch = quarto
[submodule "modules/local/minimap2"]
	path = modules/local/minimap2
	url = https://github.com/chusj-pigu/wf-modules
	branch = minimap2
[submodule "modules/local/wf-modules"]
	path = modules/local/wf-modules
	url = https://github.com/chusj-pigu/wf-modules
	branch = samtools
[submodule "modules/local/ontime"]
	path = modules/local/ontime
	url = https://github.com/chusj-pigu/wf-modules
	branch = ontime
[submodule "modules/local/oarfish"]
	path = modules/local/oarfish
	url = https://github.com/msagniez/modules_containers
	branch = oarfish
