// ---------------------------
// Memory multiplier
// ---------------------------
def MEM_FACTOR = params.huge ? 3 : (params.wgs ? 2 : 1)

process {
    withLabel:process_very_low_memory {
        memory = { check_max( 500.MB  * MEM_FACTOR * task.attempt, 'memory' ) }
    }
    withLabel:process_low_memory {
        memory = { check_max( 3.GB    * MEM_FACTOR * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_low_memory {
        memory = { check_max( 10.GB   * MEM_FACTOR * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_mid_memory {
        memory = { check_max( 20.GB   * MEM_FACTOR * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_memory {
        memory = { check_max( 40.GB   * MEM_FACTOR * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_high_memory {
        memory = { check_max( 60.GB   * MEM_FACTOR * task.attempt, 'memory' ) }
    }
    withLabel:process_higher_memory {
        memory = { check_max( 100.GB  * MEM_FACTOR * task.attempt, 'memory' ) }
    }
}