// ---------------------------
// Memory multiplier
// ---------------------------
process {
    withLabel:process_very_low_memory {
        memory = { check_max( 500.MB * task.attempt, 'memory' ) }
    }
    withLabel:process_low_memory {
        memory = { check_max( 3.GB  * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_low_memory {
        memory = { check_max( 10.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_mid_memory {
        memory = { check_max( 20.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_memory {
        memory = { check_max( 40.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_medium_high_memory {
        memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_higher_memory {
        memory = { check_max( 100.GB * task.attempt, 'memory' ) }
    }
}