// ---------------------------
// Time multiplier
// ---------------------------
def TIME_FACTOR = (params.huge || params.wgs) ? 2 : 1

process {
    // Time Definitions
    withLabel:process_very_low_time {
        time = { check_max( 30.min * TIME_FACTOR * task.attempt, 'time' ) }
    }
    withLabel:process_low_time {
        time = { check_max( 2.h * TIME_FACTOR * task.attempt, 'time' ) }
    }
    withLabel:process_medium_low_time {
        time = { check_max( 4.h * TIME_FACTOR * task.attempt, 'time' ) }
    }
    withLabel:process_medium_time {
        time = { check_max( 6.h * TIME_FACTOR * task.attempt, 'time' ) }
    }
    withLabel:process_medium_high_time {
        time = { check_max( 12.h * TIME_FACTOR * task.attempt, 'time' ) }
    }
    withLabel:process_high_time {
        time = { check_max( 22.h * TIME_FACTOR * task.attempt, 'time' ) }
    }
}