// ---------------------------
// Time multiplier
// ---------------------------
process {
    // Time Definitions
    withLabel:process_very_low_time {
        time = { check_max( 30.min * task.attempt, 'time' ) }
    }
    withLabel:process_low_time {
        time = { check_max( 2.h * task.attempt, 'time' ) }
    }
    withLabel:process_medium_low_time {
        time = { check_max( 4.h * task.attempt, 'time' ) }
    }
    withLabel:process_medium_time {
        time = { check_max( 6.h * task.attempt, 'time' ) }
    }
    withLabel:process_medium_high_time {
        time = { check_max( 12.h * task.attempt, 'time' ) }
    }
    withLabel:process_high_time {
        time = { check_max( 22.h * task.attempt, 'time' ) }
    }
}